{% extends 'base.html' %}

{% block title %} Your Title Here {% endblock %}

{% block bg %}{% endblock %}

{% block content %} 
<div class="container has-text-centered">
    <div class="card-image has-text-centered">
        <figure class="image is-inline-block">
            <img class="is-rounded" src="https://www.linlinhtunflooring.com/img/404_1.gif"/>
        </figure>
    </div>
    <p><button class="button is-white is-link is-outlined is-rounded"><a href="/"> Go to homepage </a></button></p>
</div>

{% endblock %}